body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.welcome-section{
    text-align: center;
    background-image: linear-gradient(rgb(87, 87, 160),rgb(105, 150, 105));
    width: 100%;
}
#contact-button{
    text-decoration: none;
    background: linear-gradient(#fbff00f8, rgb(0, 162, 255));
    padding: 0 2%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    border-radius: 15px;
}
#welcome-text{
    font-size: 30px;
}
.second-sec{
    display: flex;
}